/* body {
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(150, 150, 150, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(150, 150, 150, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    font-family: 'Arial', sans-serif;
} */

/* 重置默认边距和滚动条样式 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

#nprogress .bar {
  background: #0063ff !important;
}
